//
//  Base.xcconfig
//  SIPEAdiumPlugin
//
//  Created by Lamb, Michael on 11/13/13.
//
//

INFOPLIST_PREPROCESSOR_DEFINITIONS = ${GCC_PREPROCESSOR_DEFINITIONS}
INFOPLIST_PREPROCESS = YES

MACOSX_DEPLOYMENT_TARGET = 10.8

FRAMEWORK_SEARCH_PATHS = "$(BUILT_PRODUCTS_DIR)"/** "../../../adium/Frameworks"
HEADER_SEARCH_PATHS = "../../../adium/Frameworks/libglib.framework/Headers" "../../../adium/Frameworks/libpurple.framework/Headers" "../../../adium/Frameworks/libintl.framework/Headers" "$(BUILT_PRODUCTS_DIR)/Adium.framework/Headers" "$(BUILT_PRODUCTS_DIR)/AIUtilities.framework/Headers" "$(BUILT_PRODUCTS_DIR)/AdiumLibpurple.framework/Headers" ../purple ../api /usr/include/libxml2

// Hack to work around how xcconfig pre-processor handles double-slash as a comment (even in a quoted string!!) :(
SLASH=/
SIPE_TRANSLATIONS_URL=\"https:${SLASH}/www.transifex.com/stefanb/pidgin-sipe/\"
PACKAGE_BUGREPORT=\"https:${SLASH}/sourceforge.net/p/sipe/bugs/\"
PACKAGE_URL=\"http:${SLASH}/sipe.sourceforge.net/\"

// No need to change version number in the xcodeproj file every release, just here.
PACKAGE_VERSION=1.20.1
PACKAGE_STRING=\"pidgin-sipe\ ${PACKAGE_VERSION}\"

GCC_PREPROCESSOR_DEFINITIONS = SIPE_TRANSLATIONS_URL=${SIPE_TRANSLATIONS_URL} LOCALEDIR=\"translations\" PURPLE_STATIC_PRPL=1 HAVE_BIND_TEXTDOMAIN_CODESET=1 ENABLE_NLS=1 ADIUM=1 PACKAGE_NAME=\"pidgin-sipe\" PACKAGE_TARNAME=\"pidgin-sipe\" PACKAGE_BUGREPORT=${PACKAGE_BUGREPORT} PACKAGE_VERSION=\"${PACKAGE_VERSION}\" PACKAGE_STRING=${PACKAGE_STRING} PACKAGE_URL=${PACKAGE_URL} STDC_HEADERS=1 HAVE_SYS_TYPES_H=1 HAVE_SYS_STAT_H=1 HAVE_STDLIB_H=1 HAVE_STRING_H=1 HAVE_MEMORY_H=1 HAVE_STRINGS_H=1 HAVE_INTTYPES_H=1 HAVE_STDINT_H=1 HAVE_UNISTD_H=1 HAVE_DLFCN_H=1 LT_OBJDIR=\".libs/\" STDC_HEADERS=1 HAVE_LOCALE_H=1 HAVE_LC_MESSAGES=1 HAVE_DLFCN_H=1 HAVE_DCGETTEXT=1 HAVE_GETTEXT=1 HAVE_LOCALE_H=1 HAVE_GSSAPI_GSSAPI_H=1 HAVE_LANGINFO_CODESET=1

ARCHS = $(ARCHS_STANDARD_64_BIT)
STRINGS_FILE_OUTPUT_ENCODING = UTF-16
GCC_MODEL_TUNING = G5
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_PRECOMPILE_PREFIX_HEADER = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym




