*Makefile
*Makefile.in
*.la
*.lo
src/.deps
src/.libs
src/config.h
libtool
config.*
configure
autom4te*
*.swp
aclocal.m4
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
ltmain.sh
missing
mkinstalldirs
po/
