*~
*Makefile
*Makefile.in
*Makefile.in.in
*.la
*.lo
*.log
.deps
.libs
libtool
config.*
configure
/ABOUT-NLS
autom4te*
*.swp
aclocal.m4
compile
depcomp
GITVERSION
install-sh
intltool-extract*
intltool-merge*
intltool-update*
*.bz2
*.gz
*.xz
ltmain.sh
/m4/
missing
mkinstalldirs
/INSTALL
pixmaps/*/im-sipe.*
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-it
po/*.header
po/*.sed
po/*.sin
*.gmo
src/*/*.o
src/adium/adium-frameworks
src/adium/SIPEAdiumPlugin.xcodeproj/project.pbxproj-e
src/adium/SIPEAdiumPlugin.xcodeproj/project.xcworkspace/
src/adium/SIPEAdiumPlugin.xcodeproj/xcuserdata/
src/core/sipe-rtf.c
src/core/*_tests
src/core/sipe_ntlm_analyzer
src/core/sipe_tls_analyzer
src/core/sipe_tls_tester
src/purple/tests
src/purple/tests_load
src/telepathy/telepathy-sipe
src/telepathy/data/org.freedesktop.Telepathy.ConnectionManager.sipe.service
stamp-h1
siplcs.vcxproj.user
test-driver
ylwrap
*.trs
*.DS_Store
adium/SIPEAdiumPlugin.xcodeproj/project.xcworkspace/*
adium/SIPEAdiumPlugin.xcodeproj/xcuserdata/*
