#!/usr/bin/make -f

DEB_CONFIGURE_EXTRA_FLAGS := --enable-purple --disable-telepathy

%:
	dh $@

override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure -- $(DEB_CONFIGURE_EXTRA_FLAGS)

override_dh_auto_install:
	dh_auto_install

	dh_install debian/extra/pidgin usr/bin
	dh_install debian/extra/pidgin-sipe etc/default

override_dh_strip:
	dh_strip --dbg-package=pidgin-sipe-dbg

override_dh_installdocs:
	dh_installdocs --link-doc=pidgin-sipe

.PHONY: override_dh_auto_configure override_dh_auto_install override_dh_strip override_dh_installdocs
